footer {
  color: #bbbbbb;
  background: #262626;
  .informacion {
    display: flex;
    flex-wrap: wrap;
    gap: 1;
    .image{
      max-width: 15rem;
      margin: auto;
      .footer_img {
        width: 100%;
        height: auto;
      }
    }
    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      flex-direction: row;
      li{
        flex-grow: 1;
        flex-basis: 15rem;
        font-size: 1rem;
        margin:.5rem;
      }
    }

  }
  a{
    text-decoration: none;
    cursor: pointer;
    color: #3A5675;
    transition: color .3s;
  }
  a:hover{
    color: #00A9DE;
  }
  .copyright {
    margin-top: 1rem;
    text-align: center;
  }
}
