footer {
    color: #7E7E78;
    background: #262626;
    border-radius: 0 0 5px 5px;
    .informacion {
      display: flex;
      flex-wrap: wrap;
      gap: 1;
      .image {
        max-width: 15rem;
        margin: auto;
        .footer_img {
          width: 100%;
          height: auto;
        }
      }
      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        flex-direction: row;
        li {
          flex-grow: 1;
          flex-basis: 15rem;
          font-size: 1rem;
          margin: 0.25rem;
        }
      }
      .info {
        text-decoration: none;
        cursor: pointer;
        color: #7E7E78;
        transition: color 0.3s;
      }
      .info:hover {
        color: #00a9de;
      }
    }
    .modal-body {
      color: #262626;
      font-family: 'Poppins', sans-serif;
      line-height: 1.5;
      word-spacing: 2px;
    }
  
    .copyright {
      margin-top: 1rem;
      text-align: center;
    }
  
    .map {
      border: 0;
      width: 100%;
      height: 450px;
    }
  }

  a{
    text-decoration: none;
    list-style: none; 
    color: #7E7E78;
    cursor: pointer;
  }
  