<footer class="container-xl">
    <div class="informacion">
        <div class="image">
            <img src="../../../assets/img/logoFooter.png" alt="amazing screens argentina logo completo"
                class="footer_img">
        </div>
        <ul>
            <li><p data-bs-toggle="modal" data-bs-target="#terminosycondiciones">Terminos y condiciones</p>
                <div class="modal fade" id="terminosycondiciones" tabindex="-1"
                    aria-labelledby="terminosycondicionesLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            <div class="modal-body">

                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li><p data-bs-toggle="modal" data-bs-target="#QuienesSomos">Quienes Somos?</p>
                <div class="modal fade" id="QuienesSomos" tabindex="-1" aria-labelledby="QuienesSomosLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            <div class="modal-body">

                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li><p href="mailto:info@amazingscreens.com.ar">Contacto</p></li>
            <li><p href="">Ubicacion</p>
            </li>
            <li><p data-bs-toggle="modal" data-bs-target="#PoliticaGarantias">Politica de Garantias</p>
                <div class="modal fade" id="PoliticaGarantias" tabindex="-1" aria-labelledby="PoliticaGarantiasLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            <div class="modal-body">

                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li><p data-bs-toggle="modal" data-bs-target="#PoliticaPrivacidad">Politica de Privacidad</p>
                <div class="modal fade" id="PoliticaPrivacidad" tabindex="-1" aria-labelledby="PoliticaPrivacidadLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            <div class="modal-body">

                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li><p data-bs-toggle="modal" data-bs-target="#Envios">Envios</p></li>
            <div class="modal fade" id="Envios" tabindex="-1" aria-labelledby="EnviosLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            <div class="modal-body">

                            </div>
                        </div>
                    </div>
                </div>
        </ul>
    </div>
    <div class="copyright">
        <p>© 2021 Copyright: AmazingScreensArgentina | Todos los derechos reservados</p>
    </div>

</footer>