<footer class="container-xl">
    <div class="informacion">
        <div class="image">
            <img src="../../../assets/icons/logoFooter.png" alt="amazing screens argentina logo completo"
                class="footer_img">
        </div>
        <ul>
            <li><p data-bs-toggle="modal" data-bs-target="#terminosycondiciones" class="info">Terminos y condiciones</p>
                <div class="modal fade" id="terminosycondiciones" tabindex="-1"
                    aria-labelledby="terminosycondicionesLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Terminos y Condiciones</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                            <div class="modal-body">
                                <!-- {{info[3]}} -->
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li><p data-bs-toggle="modal" data-bs-target="#QuienesSomos" class="info">Quienes Somos?</p>
                <div class="modal fade" id="QuienesSomos" tabindex="-1" aria-labelledby="QuienesSomosLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Quienes Somos?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                            <div class="modal-body">
                                <!-- {{info[2]}} -->
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li><a href="mailto:info@amazingscreens.com.ar" class="info">Contacto</a></li>
            <li><p (click)="login()" class="info">Login(only Admin)</p></li>
            <li><p data-bs-toggle="modal" data-bs-target="#ubicacion" class="info">Ubicacion</p>
                <div class="modal fade" id="ubicacion" tabindex="-1" aria-labelledby="ubicacionLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Ubicacion</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                            <div class="modal-body">
                                <p>Piedras 1047, C1070 CABA</p>
                                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13133.458529406356!2d-58.3773055!3d-34.6202247!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x38d9005732a5edb2!2sAmazing%20Screens%20Argentina!5e0!3m2!1ses-419!2sar!4v1632088330466!5m2!1ses-419!2sar" allowfullscreen="" loading="lazy"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li><p data-bs-toggle="modal" data-bs-target="#PoliticaGarantias" class="info">Politica de Garantias</p>
                <div class="modal fade" id="PoliticaGarantias" tabindex="-1" aria-labelledby="PoliticaGarantiasLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Politica de Garantias</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                            <div class="modal-body">
                               <!--  {{info[0]}} -->
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li><p data-bs-toggle="modal" data-bs-target="#PoliticaPrivacidad" class="info">Politica de Privacidad</p>
                <div class="modal fade" id="PoliticaPrivacidad" tabindex="-1" aria-labelledby="PoliticaPrivacidadLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Politica de Privacidad</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                            <div class="modal-body">
                                <!-- {{info[1]}} -->
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="copyright">
        <p>© 2021 Copyright: AmazingScreensArgentina | Todos los derechos reservados</p>
    </div>

</footer>