<footer class="container-xl">
    <div class="row">
        <div class="contact col-xl-6">
            <img src="../../../assets/img/logoFooter.png" alt="amazing screens argentina logo completo">
            <div class="information">
            <h3><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@amazingscreens.com.ar" target="_top">  info@amazingscreens.com.ar</a></h3>
            <h3><i class="fa fa-map-marker" aria-hidden="true"></i>  Piedras 1047,San Telmo, CABA</h3>
            <h3><i class="fa fa-phone" aria-hidden="true"></i>  011 2726-2156</h3>
            </div>
        </div>
        <div class="location col-xl-6 p-3">
            <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=es&amp;q=Piedras%201047,%20C1070%20CABA+(Tienda%20AmazingScreensArgentina)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
        </div>
    </div>
    <div class="row copyright">
        <p>© 2021 Copyright: AmazingScreensArgentina | Todos los derechos reservados</p>
    </div>
</footer>