<nav class="navbar navbar-expand-lg navbar-light bg-light" id="Nav_Home">
    <div class="navbar__container container">
        <a class="navbar-brand" rel="nofollow noopener noreferrer">
            <img src="../../../assets/img/logoCompleto.svg" alt="Amazing Screeen - Argentina" class="navbar-img-logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mt-2" id="navbarSupportedContent">
            <form class="navbar__search me-auto">
            </form>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <div class="d-grid gap-2 mt-1">
                    <button class="btn btn-danger " (click)="logOut()">
                        Salir
                    </button>
                </div>
            </ul>
        </div>
    </div>
</nav>

<main class="main mt-4">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Agregar Producto
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                    <app-alta-netbook></app-alta-netbook>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Editar Producto
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <div class="flex-container mt-1">
                    <div class="buscador mt-2" style="width: 100%;">
                        <form class="navbar__search me-auto">
                            <input class="form-control me-1" type="search" placeholder="Buscar" aria-label="Search"
                                [(ngModel)]="filterPost">
                            <button class="btn btn-outline-primary"><i class="fas fa-search"></i></button>
                        </form>
                        <br>
                    </div>
                    <div class="card-item" *ngFor="let item of producto | search:filterPost">
                        <div class="card-img">
                            <img [src]=item.image class="card-img-top" alt="{{item.nombre}}">
                        </div>
                        <div class="card-body">
                            <h2 style="font-size: 1.5em; height: 70px;" class="card-title">{{item.nombre}}</h2>
                            <p class="card-text" style="font-size: 0.75em;">{{item.descripcion}}</p>
                            <div class="card-button">
                                <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" (click)="editarMonitor(item)">
                                    Editar
                                </button>
                                <button type="button" class="btn btn-outline-danger"
                                    (click)="deleteMonitor(item)">Borrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Editar Adicionales
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
                    <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting
                    happening here in terms of content, but just filling up the space to make it look, at least at first
                    glance, a bit more representative of how this would look in a real-world application.
                </div>
            </div>
        </div>
    </div>
    <!--  -->

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row" *ngIf="edit_monitor!=undefined">
                        <div class="form-group mt-4 col-md-6 text-center">
                            <label for="e_nombre">Nombre</label>
                            <input type="text" class="form-control" id="e_nombre" placeholder="Nombres"
                                [(ngModel)]="edit_monitor.nombre" />
                        </div>
                        <div class="form-group mt-4 col-md-6 text-center">
                            <label for="e_modelo">Modelo</label>
                            <input type="text" class="form-control" id="e_modelo" placeholder="ej.: VG259QM"
                                [(ngModel)]="edit_monitor.modelo" />
                        </div>
                        <div class="form-group mt-4 col-md-6 text-center">
                            <label for="e_tamanio">Tamaño</label>
                            <input type="text" class="form-control" id="e_tamanio" placeholder="ej.: 15,6' "
                                [(ngModel)]="edit_monitor.tamanio" />
                        </div>
                        <div class="form-group mt-4 col-md-6 text-center">
                            <label for="e_hertz">Hertz</label>
                            <input type="text" class="form-control" id="e_hertz" placeholder="ej.: 144Hz"
                                [(ngModel)]="edit_monitor.hertz" />
                        </div>
                        <div class="form-group mt-4 col-md-6 text-center">
                            <label for="e_tiempoRespuesta">Tiempo de Respuesta</label>
                            <input type="text" class="form-control" id="e_tiempoRespuesta" placeholder="ej.: 1ms"
                                [(ngModel)]="edit_monitor.tiempoRespuesta" />
                        </div>
                        <div class="form-group mt-4 col-md-6 text-center">
                            <label for="e_panel">Panel</label>
                            <input type="text" class="form-control" id="e_panel" placeholder="ej.: IPS, TN, LED"
                                [(ngModel)]="edit_monitor.panel" />
                        </div>
                        <div class="form-group mt-4 col-md-6 text-center">
                            <label for="e_panel">Resolucion</label>
                            <input type="text" class="form-control" id="e_panel" placeholder="ej.: 1920*1080"
                                [(ngModel)]="edit_monitor.resolucion" />
                        </div>
                        <div class="form-group mt-4 col-md-6 d-flex justify-content-center align-items-center">
                            <label>G-Sync?</label>
                            <input class="form-check-input" style="width: 30px; height: 30px;" type="checkbox" value=""
                                id="flexCheckDefault" [(ngModel)]="edit_monitor.gsync" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" (click)="updateMonitor()">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>
</main>