<header class="header">
  <nav class="navbar navbar-expand-xl navbar-light bg-light">
    <div class="navbar__container container">
      <a href="#" class="navbar-brand">
        <img src="../../../assets/img/logoCompleto.svg" alt="Amazing Screeen - Argentina" class="navbar-img-logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex me-auto">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
        </form>
        <div class="info mt-2">Nuestras Redes</div>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link whatsapp" href="#"><i class="fab fa-whatsapp"></i> Whatsapp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link facebook" href="#"><i class="fab fa-facebook-square"></i> Facebook</a>
          </li>
          <li class="nav-item">
            <a class="nav-link instagram" id="insta" href="#"><i class="fab fa-instagram"></i> Instagram</a>
          </li>
          <li class="nav-item">
            <a class="nav-link twitter" href="#"><i class="fab fa-twitter"></i> Twitter</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <app-slider></app-slider>
</header>