/* LOGO */

form {
  width: 40%;
}
nav{
  background-color: #193549 !important;
}
@media (min-width: 1200px) {
  .info{
    word-break: break-all;
    width: 70px;
  }
  .navbar-brand{
    width: 20%;
  }
}
@media (max-width: 1200px) {
  form {
    width: 100%;
  }
  .info{
    font: 2.5rem;
  }
  .navbar-brand{
    width: 30%;
    margin-right: 20px;
  }
}
@media (max-width: 990px) {
  .navbar-brand{
    width: 70%;
  }
}

form {
  margin: auto;
}

ul {
  list-style: none;
  display: flex;
}
.navbar-nav a {
  font-size: 1em;
}
a {
  margin: auto;
}
.info{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #f2f2f2f2;
}
.facebook {
  color: #16a6fb !important;
}

.whatsapp {
  color: #27c34b !important;
}

#insta {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.twitter {
  color: #119afb !important;
}

.navbar-nav a:hover {
  border-bottom: 2px solid #00a9de;
}


