<nav class="navbar navbar-expand-lg navbar-light bg-light" id="Nav_Home">
    <div class="navbar__container container">
        <a href="javascript:void(0);" class="navbar-brand" rel="nofollow noopener noreferrer">
            <img src="assets/icons/logoCompleto.svg" alt="Amazing Screeen - Argentina" class="navbar-img-logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mt-2" id="navbarSupportedContent">
            <form class="navbar__search me-auto">
            </form>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <div class="d-grid gap-2 mt-1">
                    <button class="btn btn-danger " (click)="logOut()">
                        Salir
                    </button>
                </div>
            </ul>
        </div>
    </div>
</nav>

<main class="main mt-4 container-lg">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Agregar Monitor
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample" >
                <app-alta-monitor class="m-2"></app-alta-monitor>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    Agregar Netbook
                </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                data-bs-parent="#accordionFlushExample">
                <app-alta-netbook class="m-2"></app-alta-netbook>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                    Agregar Tarjeta Grafica
                </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                data-bs-parent="#accordionFlushExample">
                <app-alta-placadeVideo class="m-2"></app-alta-placadeVideo>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Editar Producto
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <div class="flex-container mt-1">
                    <div class="buscador mt-2" >
                        <form class="navbar__search me-auto">
                            <input class="form-control me-1" type="search" placeholder="Buscar" aria-label="Search"
                                [(ngModel)]="filterPost">
                            <button class="btn btn-outline-primary"><i class="fas fa-search"></i></button>
                        </form>
                        <br>
                    </div>
                    <div class="card-item" *ngFor="let item of producto | search:filterPost">
                        <div class="card-img">
                            <img [src]=item.foto class="card-img-top" alt="{{item.nombre}}">
                        </div>
                        <div class="card-body">
                            <h2  class="card-title">{{item.nombre}}</h2>
                            <p class="card-text" >{{item.descripcion}}</p>
                            <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" (click)="editarMonitor(item)">
                                Editar
                            </button>
                            <button type="button" class="btn btn-outline-danger"
                                (click)="deleteMonitor(item)">Borrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Editar Info
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#QuienesSomos">
                        Quienes Somos?
                    </button>
                    <div class="modal fade" id="QuienesSomos" tabindex="-1" aria-labelledby="QuienesSomosLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Quienes Somos?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    
                                    <div class="form-floating">
                                        <textarea class="textarea" placeholder="Leave a comment here" id="floatingTextarea" rows="20"  [(ngModel)]="info[2]"></textarea>
                                      </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-primary" (click)="updateInfo('quienesSomos',info[2])">Guardar Cambios</button>
                                  </div>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-dark" data-bs-toggle="modal"
                        data-bs-target="#terminosycondiciones">
                        Terminos y condiciones
                    </button>
                    <div class="modal fade" id="terminosycondiciones" tabindex="-1"
                        aria-labelledby="terminosycondicionesLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Terminos y Condiciones</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-floating">
                                        <textarea class="textarea" placeholder="Leave a comment here" id="floatingTextarea" rows="20" [(ngModel)]="info[3]"></textarea>
                                      </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-primary" (click)="updateInfo('terminos y condiciones',info[3])">Guardar Cambios</button>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#PoliticaGarantias">
                        Politica de Garantias
                    </button>
                    <div class="modal fade" id="PoliticaGarantias" tabindex="-1"
                        aria-labelledby="PoliticaGarantiasLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Politica de Garantias</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-floating">
                                        <textarea class="textarea" placeholder="Leave a comment here" id="floatingTextarea" rows="20" [(ngModel)]="info[0]"></textarea>
                                      </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-primary" (click)="updateInfo('garantia',info[0])">Guardar Cambios</button>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-dark" data-bs-toggle="modal"
                        data-bs-target="#PoliticaPrivacidad">
                        Politica de Privacidad
                    </button>
                    <div class="modal fade" id="PoliticaPrivacidad" tabindex="-1"
                        aria-labelledby="PoliticaPrivacidadLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Politica de Privacidad</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-floating">
                                        <textarea class="textarea" placeholder="Leave a comment here" id="floatingTextarea" rows="20" [(ngModel)]="info[1]"></textarea>
                                      </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-primary" (click)="updateInfo('privacidad',info[1])">Guardar Cambios</button>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  -->

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row" *ngIf="edit_monitor!=undefined">
                        <div class="form-group mt-4 col-md-6 text-center">
                            <label for="e_nombre">Nombre</label>
                            <input type="text" class="form-control" id="e_nombre" placeholder="Nombres"
                                [(ngModel)]="edit_monitor.nombre" />
                        </div>
                        <div class="form-group mt-4 col-md-6 text-center">
                            <label for="e_modelo">Descripcion</label>
                            <input type="text" class="form-control" id="e_modelo" placeholder="descripcion"
                                [(ngModel)]="edit_monitor.descripcion" />
                        </div>
                        
                        <div class="form-group mt-4 col-md-6 d-flex justify-content-center align-items-center">
                            <label>ALTA</label>
                            <input class="form-check-input" type="checkbox" value=""
                                id="flexCheckDefault" [(ngModel)]="edit_monitor.alta" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" (click)="updateMonitor()">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>
</main>