<div class="home" ondragstart="return false;" ondrop="return false;">
    <app-header></app-header>
    <app-main></app-main>
    <a class="whasppa-button mx-4" href="https://api.whatsapp.com/send?text=Hola, quisiera hacer una consulta.&amp;phone=5491127262156" target="_blank" style="position: fixed; z-index: 99; top: auto; bottom: 0px;right: 0; opacity: 1;">
        <span class="text">Contactanos por whatsapp</span>
        <span class="sr-only">+5491127262156</span>
        <span class="icon-wa"></span>
    </a>
</div>
