
$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 100%;
	
	&::before,
	&::after {
		content: "";
		height: 100px;
		position: absolute;
		width: 100%;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slide {
		height: 100px;
		width: 250px;
        margin:0 20px;
        display: flex;
        align-items: center;
	}

    .slide img{
        object-fit: contain;
    }
}
@media (max-width:414px){
	
	.slider {
		background: white;
		height: 50px;
		margin: auto;
		overflow:hidden;
		position: relative;
		width: 100%;
		
		&::before,
		&::after {
			content: "";
			height: 100px;
			position: absolute;
			width: 100%;
			z-index: 2;
		}
		
		&::after {
			right: 0;
			top: 0;
			transform: rotateZ(180deg);
		}
	
		&::before {
			left: 0;
			top: 0;
		}
		
		.slide-track {
			animation: scroll $animationSpeed linear infinite;
			display: flex;
			width: calc(250px * 14);
		}
		
		.slide {
			height: 50px;
			width: 250px;
			margin:0 20px;
			display: flex;
			align-items: center;
		}
	
		.slide img{
			object-fit: contain;
		}
	}
	
}