<div class="slider container-xl">
	<div class="slide-track">
		<div class="slide">
			<img src="../../../assets/img/slide/nvidia-logo.png" height="50" width="250" alt="NVIDIA logo" />
		</div>
		<div class="slide">
			<img src="../../../assets/img/slide/amd-logo.png" height="50" width="250" alt="AMD Logo" />
		</div>
		<div class="slide">
			<img src="../../../assets/img/slide/intel-logo.png" height="50" width="250" alt="Interl Logo" />
		</div>
		<div class="slide">
			<img src="../../../assets/img/slide/predator-logo.png" height="50" width="250" alt="Predator Logo" />
		</div>
		<div class="slide">
			<img src="../../../assets/img/slide/aorus-logo.png" height="50" width="250" alt="Aorus Logo"/>
		</div>
		<div class="slide">
			<img src="../../../assets/img/slide/razer-logo.png" height="50" width="250" alt="Razer Logo" />
		</div>
		<div class="slide">
			<img src="../../../assets/img/slide/asus-logo.png" height="50" width="250" alt="Asus Logo" />
		</div>
		<div class="slide">
			<img src="../../../assets/img/slide/msi-logo.png" height="50" width="250" alt="MSI Logo" />
		</div>
		<div class="slide">
			<img src="../../../assets/img/slide/nvidia-logo.png" height="50" width="250" alt="NVIDIA logo" />
		</div>
		<div class="slide">
			<img src="../../../assets/img/slide/benq-logo.png" height="50" width="250" alt="BENQ Logo" />
		</div>
		<div class="slide">
			<img src="../../../assets/img/slide/lg-logo.png" height="50" width="250" alt="LG Logo" />
		</div>
		<div class="slide">
			<img src="../../../assets/img/slide/evga-logo.png" height="50" width="250" alt="Evga Logo" />
		</div>
		
		<div class="slide">
			<img src="../../../assets/img/slide/acer-logo.png" height="50" width="250" alt="ACER Logo" />
		</div>
		<div class="slide">
			<img src="../../../assets/img/slide/aoc-logo.png" height="50" width="250" alt="Aoc Logo" />
		</div>
	</div>
</div>