<div class="slider">
	<div class="slide-track">
		<div class="slide">
			<img src="../../../assets/img/slide/nvidia-logo.png" height="50" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="../../../assets/img/slide/amd-logo.png" height="50" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="../../../assets/img/slide/intel-logo.png" height="50" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="../../../assets/img/slide/predator-logo.png" height="50" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="../../../assets/img/slide/aorus-logo.png" height="50" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="../../../assets/img/slide/razer-logo.png" height="50" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="../../../assets/img/slide/asus-logo.png" height="50" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="../../../assets/img/slide/msi-logo.png" height="50" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="../../../assets/img/slide/nvidia-logo.png" height="50" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="../../../assets/img/slide/benq-logo.png" height="50" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="../../../assets/img/slide/lg-logo.png" height="50" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="../../../assets/img/slide/evga-logo.png" height="50" width="250" alt="" />
		</div>
		
		<div class="slide">
			<img src="../../../assets/img/slide/acer-logo.png" height="50" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="../../../assets/img/slide/aoc-logo.png" height="50" width="250" alt="" />
		</div>
	</div>
</div>