*{
  -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.flex{
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-weight:  400;
}
main {
  background: #ddd;
}
aside {
  background: #ccc;
}
@media screen and (min-width: 481px) and (min-width: 718px) {
  main {
    float: left;
    width: 80%;
  }
  aside {
    width: 20%;
    float: left;
  }
  .card {
    flex: none;
  }
  .flex{
    display: flex;
  }
}

//ASIDE
.filter_list {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  button {
    display: block;
    width: 90%;
    padding: 15px 0;
    margin-bottom: 20px;
    background: #78b2f2;
    color: #f2f2f2f2;
    margin: auto;
  }
  button:hover {
    background: #0077f9;
  }
  .active {
    background: #0077f9;
  }
}
//MAIN
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  margin: 1rem;
  min-width: 15rem;
  max-width: 20rem;
  flex: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #3E2C41;
  color: #f2f2f2f2;
}
.card-img{
  display: flex;
  height: 300px;
  img{
    align-items: center;
    object-fit: contain;
  }
}
.card-item:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.accordion-body button{
  display: block;
  margin: auto;
  width: 100%;
  margin: 5px 0;
}
/* .card-item {
  margin: 1rem;
  min-width: 15rem;
  max-width: 19.2rem;
  flex: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #FF4C29;
  color: black;
  display: flex;
  position: relative;
  .card-body{
    z-index: -10;
    position: absolute;
    background-color: white;
    height: 100%;
    transition: all 259ms ease-in-out;
    h5{
      text-align: center;
    }
    .card-button{
      position: absolute;
      left: 50%;
      bottom: 0;
    transform: translate(-50%, -50%);
    }
  }
}
.card-item:hover{
  .card-body{
    z-index: 10;
  }
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} */