<div class="container-xl">
    <app-carrusel></app-carrusel>
    <div class="flex">
        <aside class="aside mt-1" style="background-color: #3A5675;">
            <h3 style="color: #f2f2f2; text-align: center;">Filtros</h3>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            MONITORES
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <button type="button" class="btn btn-outline-dark">ASUS</button>
                            <button type="button" class="btn btn-outline-dark">LG</button>
                            <button type="button" class="btn btn-outline-dark">ACER</button>
                            <button type="button" class="btn btn-outline-dark">SAMSUNG</button>
                            <button type="button" class="btn btn-outline-dark">BENQ</button>
                            <button type="button" class="btn btn-outline-dark">AORUS</button>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            PLACAS DE VIDEO
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <button type="button" class="btn btn-outline-dark">NVIDIA</button>
                            <button type="button" class="btn btn-outline-dark">AMD</button>
                            <button type="button" class="btn btn-outline-dark">EVGA</button>
                            <button type="button" class="btn btn-outline-dark">MSI</button>
                            <button type="button" class="btn btn-outline-dark">ASUS</button>
                            <button type="button" class="btn btn-outline-dark">GIGABYTE</button>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            VARIOS
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <button type="button" class="btn btn-outline-dark">INTEL</button>
                            <button type="button" class="btn btn-outline-dark">PERIFERICOS</button>
                        </div>
                    </div>
                </div>
            </div>
        </aside>

        <main class="main mt-1" style="background-color: #082032; color: #f2f2f2f2;">
            <div aria-label="breadcrumb" style="display: flex;">
                <ol class="breadcrumb" style="margin: auto; font-size: 1.5rem;">
                    <li class="breadcrumb-item active">Home</li>
                    <li class="breadcrumb-item active" aria-current="page">Productos</li>
                </ol>
            </div>
            <div class="flex-container mt-1">
                <div class="card-item">
                    <div class="card-img">
                        <img src="../../../assets/slider/MonitorTUFGamingVG259QM.png" class="card-img-top"
                            alt="Monitor TUF Gaming VG259QM">
                    </div>
                    <div class="card-body">
                        <h2 style="font-size: 1.5em; height: 70px;" class="card-title">ASUS TUF GAMING VG259QM</h2>
                        <p class="card-text" style="font-size: 0.75em;"> Tamaño:24.5" | 280hz | 1920*1080 | IPS | G-Sync | 1ms </p>
                        <div class="card-button">
                            <a  rel="nofollow noopener noreferrer" target="_blank" href="https://api.whatsapp.com/send?text=Hola, tenes stock de la Asus Tuf Gaming VG259QM.&amp;phone=5491127262156" class="btn btn-primary">Consultar Stock</a>
                        </div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="card-img">
                        <img src="../../../assets/slider/PredatorXB271HU.png" class="card-img-top"
                            alt="PredatorXB271HU">
                    </div>
                    <div class="card-body">
                        <h2 style="font-size: 1.5em; height: 70px;" class="card-title">ACER PREDATOR XB271HU</h2>
                        <p class="card-text" style="font-size: 0.75em;"> Tamaño:27" | 144hz | 2560*1440 | OVERCLOCK 165hz | G-Sync | 1ms GTG </p>
                        <div class="card-button">
                            <a  rel="nofollow noopener noreferrer" target="_blank" href="https://api.whatsapp.com/send?text=Hola, tenes stock de la Acer predator XB271HU.&amp;phone=5491127262156" class="btn btn-primary">Consultar Stock</a>
                        </div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="card-img">
                        <img src="../../../assets/slider/TUFF15.png" class="card-img-top"
                            alt="Monitor TUF Gaming VG259QM">
                    </div>
                    <div class="card-body">
                        <h2 style="font-size: 1.5em; height: 70px;" class="card-title">ASUS TUF FX516PM GAMING</h2>
                        <p class="card-text" style="font-size: 0.75em;"> Tamaño:15.6" | 144hz | i7 11th | RTX3060 | G-Sync | 1ms </p>
                        <div class="card-button">
                            <a  rel="nofollow noopener noreferrer" target="_blank" href="https://api.whatsapp.com/send?text=Hola, tenes stock de la Asus Tuf Gaming FX516PM.&amp;phone=5491127262156" class="btn btn-primary">Consultar Stock</a>
                        </div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="card-img">
                        <img src="../../../assets/slider/Acer-monitor-VG271U-main.png" class="card-img-top"
                            alt="Monitor TUF Gaming VG259QM">
                    </div>
                    <div class="card-body">
                        <h2 style="font-size: 1.5em; height: 70px;" class="card-title">ACER NITRO VG217UP</h2>
                        <p class="card-text" style="font-size: 0.75em;"> Tamaño:27" | 144hz | 2560*1440 | IPS | G-Sync | 1ms </p>
                        <div class="card-button">
                            <a  rel="nofollow noopener noreferrer" target="_blank" href="https://api.whatsapp.com/send?text=Hola, tenes stock de la Acer Nitro VG217UP.&amp;phone=5491127262156" class="btn btn-primary">Consultar Stock</a>
                        </div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="card-img">
                        <img src="../../../assets/slider/ACER-XB273GX.png" class="card-img-top"
                            alt="Monitor TUF Gaming VG259QM">
                    </div>
                    <div class="card-body">
                        <h2 style="font-size: 1.5em; height: 70px;" class="card-title">ACER XB253Q GPbmiiprzx</h2>
                        <p class="card-text" style="font-size: 0.75em;"> Tamaño:24.5" | 144hz | 1920*1080 | IPS | OVERCLOCK 160hz | 1ms </p>
                        <div class="card-button">
                            <a  rel="nofollow noopener noreferrer" target="_blank" href="https://api.whatsapp.com/send?text=Hola, tenes stock de la Acer XB253Q Gpbmiiprzx.&amp;phone=5491127262156" class="btn btn-primary">Consultar Stock</a>
                        </div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="card-img">
                        <img src="../../../assets/slider/LG-monitor-01.png" class="card-img-top"
                            alt="Monitor TUF Gaming VG259QM">
                    </div>
                    <div class="card-body">
                        <h2 style="font-size: 1.5em; height: 70px;" class="card-title">MONITOR ULTRAGEAR</h2>
                        <p class="card-text" style="font-size: 0.75em;"> Tamaño:34" | 144hz | 3440*1440 | IPS | G-Sync | 1ms </p>
                        <div class="card-button">
                            <a  rel="nofollow noopener noreferrer" target="_blank" href="https://api.whatsapp.com/send?text=Hola, tenes stock de la LG Ultragear.&amp;phone=5491127262156" class="btn btn-primary">Consultar Stock</a>
                        </div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="card-img">
                        <img src="../../../assets/slider/MonitorTUFGamingVG259QM.png" class="card-img-top"
                            alt="Monitor TUF Gaming VG259QM">
                    </div>
                    <div class="card-body">
                        <h2 style="font-size: 1.5em;" class="card-title">ASUS TUF GAMING VG27AQ</h2>
                        <p class="card-text" style="font-size: 0.75em;"> Tamaño:27" | 144hz | OVERCLOCK 165hz | 2560*1440 | IPS | G-Sync | 1ms </p>
                        <div class="card-button">
                            <a rel="nofollow noopener noreferrer" target="_blank" href="https://api.whatsapp.com/send?text=Hola, tenes stock de la Asus Tuf Gaming VG27AQ.&amp;phone=5491127262156" class="btn btn-primary">Consultar Stock</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>