<div class="mt-1">
    <app-carrusel></app-carrusel>
    <aside class="aside p-3 mt-1">
        <div class="filter_list">
            <button type="button" class="btn active">Todo</button>
            <button type="button" class="btn">Asus</button>
            <button type="button" class="btn">Acer</button>
            <button type="button" class="btn">TUF</button>
            <button type="button" class="btn">LG</button>
        </div>
    </aside>

    <main class="main mt-1">
        <div aria-label="breadcrumb" style="display: flex;">
            <ol class="breadcrumb" style="margin: auto;">
                <li class="breadcrumb-item active"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Products</li>
            </ol>
        </div>
        <div class="flex-container mt-1">
            <div class="card-item">
                <img src="../../../assets/slider/MonitorTUFGamingVG259QM.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Consultar Stock</a>
                </div>
            </div>
            <div class="card-item">
                <img src="../../../assets/slider/PredatorXB271HU.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Consultar Stock</a>
                </div>
            </div>
            <div class="card-item">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Consultar Stock</a>
                </div>
            </div>
            <div class="card-item">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Consultar Stock</a>
                </div>
            </div>
            <div class="card-item">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Consultar Stock</a>
                </div>
            </div>
        </div>
    </main>
</div>