main {
  background: #ddd;
}
aside {
  background: #ccc;
}

@media screen and (min-width: 481px) and (max-width: 960px) {
  main {
    float: left;
    width: 70%;
  }
  aside {
    width: 30%;
    float: left;
  }
}
@media screen and (min-width: 960px) {
  main {
    float: left;
    width: 70%;
  }
  aside {
    width: 30%;
    float: left;
  }
}
