.container-xl {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.flex {
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
img {
  width: 100%;
  height: auto;
  align-items: center;
  object-fit: contain;
}
main {
  background-color: #082032; 
  color: #f2f2f2f2; 
  border-radius: 5px;
}

aside {
  background-color: #3A5675;
  border-radius: 5px;
  padding: .25rem;
}

@media screen and (min-width: 481px) and (min-width: 960px) {
  main {
    float: left;
    width: 80%;
  }
  aside {
    .sidebar {
      width: 100%;
    }
    width: 20%;
    float: left;
  }
  .card {
    flex: none;
  }
  .flex {
    display: flex;
  }
}

//ASIDE
.filter_list {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  button {
    display: block;
    width: 90%;
    padding: 15px 0;
    margin-bottom: 20px;
    background: #78b2f2;
    color: rgb(255, 255, 255);
    margin: auto;
  }
  button:hover {
    background: #0077f9;
  }
  .active {
    background: #0077f9;
  }
}
//MAIN
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  margin: 1rem;
  min-width: 15rem;
  max-width: 20rem;
  flex: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #00a9de;
  color: #ffffff;
  border-radius: 10px;
}
.filter {
  flex: 1;
}
.card-img {
  display: flex;
  height: 300px;
  
}
.card-body {
  height: auto;
  h2 {
    text-align: center;
  }
}
.card-item:hover {
  box-shadow: 0 2px 8px 0 rgba(255, 255, 255, 0.5);
}
.card-title {
  text-align: center;
  font-size: 1.5em; 
  height: 85px;
}
.card-text{
  font-size: 0.75em;
}
.form-search{
  display: flex; 
  padding: 1rem;
}
.accordion-body button {
  display: block;
  margin: auto;
  width: 100%;
  margin: 5px 0;
}

.form-check-label {
  width: 100%;
}
.form-check-input,
.form-check-label {
  cursor: pointer;
}
.form-check {
  padding: 0 !important;
}
.notfound{
  margin: auto; 
  position: relative;
}
.notfound-text{
  height: 500px; 
  display: flex; 
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.sidebar-toggle {
  margin-left: -240px;
}
.sidebar {
  background: #293949;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 100;
  #leftside-navigation {
    width: 100%;
    ul,
    ul ul {
      margin: -2px 0 0;
      padding: 0;
    }
    ul {
      li {
        list-style-type: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        &.active {
          & > a {
            color: #1abc9c;
          }
          ul {
            display: block;
          }
        }
        a {
          color: #ffffff;
          text-decoration: none;
          display: block;
          padding: 18px 0 18px 25px;
          font-size: 0.75rem;
          outline: 0;
          -webkit-transition: all 200ms ease-in;
          -moz-transition: all 200ms ease-in;
          -o-transition: all 200ms ease-in;
          -ms-transition: all 200ms ease-in;
          transition: all 200ms ease-in;
          cursor: pointer;
          &:hover {
            color: #00A9DE;
            .svg {
              fill: #00A9DE;
            }
          }
          span {
            display: inline-block;
            font-weight: bolder;
            font-size: .85rem;
          }
          svg {
            fill: #ffffff;
            width: 40px;
            height: auto;
            padding-left: 3px;
            padding-right: 3px;
            -webkit-transition: all 200ms ease-in;
            -moz-transition: all 200ms ease-in;
            -o-transition: all 200ms ease-in;
            -ms-transition: all 200ms ease-in;
            transition: all 200ms ease-in;
          }
        }
      }
    }
    ul ul {
      display: none;
      li {
        background: #23313f;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        border-bottom: none;
        a {
          font-size: 0.75rem;
          padding-top: 13px;
          padding-bottom: 13px;
          color: #ffffff;
          &:hover{
            background: #4D6C8B;
          }
        }
      }
    }
  }
}
