/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Raleway;
    src: url(assets/fonts/Raleway/static/Raleway-Medium.ttf);
}
/* font-family: 'Raleway', sans-serif; */
.body{
    background-color: #334756;
}

@font-face {
    font-family: Poppins;
    src: url(assets/fonts/Poppins/Poppins-Light.ttf);
}
/* font-family: 'Poppins', sans-serif; */