<div class="slider">
    <div class="slider__container container">
        <img src="../../../assets/slider/left-arrow.svg" alt="" class="slider__arrow" id="before">
        
        <section class="slider__body slider__body--show" data-id="1" id="slider__body">
            <div class="slider_texts">
                <h2 class="subtitle">Monitor TUF Gaming VG259QM</h2>
                <p class="slider__review">
                    24,5 pulgadas Full HD (1920 x 1080), IPS rápido, overclocking de 280Hz (arriba de 240 Hz, 144 Hz), 1 ms (GTG), Extreme Low Motion Blur Sync, compatible con G-SYNC, DisplayHDR™ 400
                </p>
            </div>
            <figure class="slider__picture">
                <img src="../../../assets/slider/MonitorTUFGamingVG259QM.png" alt="" class="slider__img">
            </figure>
        </section>

        <section class="slider__body" data-id="2">
            <div class="slider_texts">
                <h2 class="subtitle">Monitor Predator XB1 XB271HU</h2>
                <p class="slider__review">
                    27 pulgadas Ultra HD (2560 x 1440), IPS rápido, overclocking de 165Hz (144 Hz), 1 ms (GTG), Extreme Low Motion Blur Sync, compatible con G-SYNC, DisplayHDR™ 350
                </p>
            </div>
            <figure class="slider__picture">
                <img src="../../../assets/slider/PredatorXB271HU.png" alt="" class="slider__img">
            </figure>
        </section>
        <img src="../../../assets/slider/right-arrow.svg" alt="" class="slider__arrow" id="next">
    </div>
</div>