<div class="slider">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000">
            <img src="../../../assets/img/carrusel/10.webp" class="d-block w-100" alt="MSI OPTIX MPG341CQR | OPTIX MAG272CQR">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="../../../assets/img/carrusel/razer-raptor-27-hero-desktop.webp" class="d-block w-100" alt="Razer Raptor Monitor Gamer">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="../../../assets/img/carrusel/kv1.webp" class="d-block w-100" alt="TUF Gaming VG32AQL1A">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="../../../assets/img/carrusel/hero.webp" class="d-block w-100" alt="Monitor Gamer TUF">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="../../../assets/img/carrusel/Nitro_XV3_hero_large.webp" class="d-block w-100" alt="ACER NITRO XV3">
          </div>
          <div class="carousel-item" data-bs-interval="2000" style="object-fit: contain !important;">
            <img src="../../../assets/img/carrusel/Predator_CG7_ksp_03.webp" class="d-block w-100" alt="PREDATOR CG7">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="../../../assets/img/carrusel/Predator_CG7_ksp_06.webp" class="d-block w-100" alt="PREDATOR CG7">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>